* {
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: black;
}
ul {
  display: inline-block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}
li {
display: inline-block;
}

.home {
  width: 93px;
  color: rgba(255,255,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0 50px 0 50px;
}
.about_me {
  width: 155px;
  color: rgba(255,255,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0 50px 0 50px;
}
.contact {
  width: 190px;
  color: rgba(255,255,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0 50px 0 50px;
}
.resume {
  width: 130px;
  color: rgba(0,209,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0 50px 0 50px;
}
.projects {
  width: 155px;
  color: rgba(255,255,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0 50px 0 50px;
}
.linkedin {
  width: 146px;
  color: rgba(255,255,255,1);
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
  padding: 0 50px 0 50px;
}

<img src="smiley.gif" alt="Smiley face" width="42" height="42" style="vertical-align:bottom">



.footer {
  width: 203px;
  height: 170px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 801px;
  left: 58px;
  overflow: hidden;
}
.logo {
  width: 199px;
  height: 142px;
  background: url("../images/CB-Logo-w.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: -15px;
  overflow: hidden;
}
.copyright {
  width: 197px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 146px;
  left: 6px;
  font-family: Public Sans;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}